<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1><img src="logo.jpg"></h1> </br>
    <div class="jumbotron">
    <h1>Homepage</h1> </br>
    
    <h1>
        <a href="/inserttask" class="btn btn-primary">Insert New Task</a>
        <a href="/listtasks" class="btn btn-primary">List Tasks</a>
        <a href="/deletebytaskid" class="btn btn-primary">Delete Task By TaskID</a></br>
        <a href="/deletecompletedtask" class="btn btn-primary">Delete All The Completed Tasks</a>
        <a href="/updatetaskbyid" class="btn btn-primary">Update Task Status</a>
        <a href="/insertdeveloper" class="btn btn-primary">Insert Developer</a>
        <a href="/listdevelopers" class="btn btn-primary">List Developer</a>
    </h1>
    </div>
</body>
</html>