<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
         rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron">
        <h1>Insert New Task</h1></br>
        <h1>
            <a href="/inserttask" class="btn btn-primary">Insert New Task</a>
            <a href="/listtasks" class="btn btn-primary">List Tasks</a>
            <a href="/deletebytaskid" class="btn btn-primary">Delete Task By TaskID</a>   
            <a href="/deletecompletedtask" class="btn btn-primary">Delete All The Completed Tasks</a>
            <a href="/updatetaskbyid" class="btn btn-primary">Update Task Status</a>
        </h1>
        </div>
        <form action="/insert" method ="POST">
            <div class="form-group">
            <label>Task Name</label>
            <input type="text" placeholder=Name name="taskname"/>
            </div>
            <div class="form-group">
            <label>Assign To</label>
            <input type="text" name="taskassign"/>
            </div>
            <div class="form-group">
            <label>Task Due</label>
            <input type="date" name="taskdue"/>
            </div>
            <div class="form-group">
            <label>Task Status</label>
                <select name="taskstatus">
                    <option value="InProgress">InProgress</option>
                    <option value="Complete">Complete</option>
                  </select>
            </div>
            <div class="form-group">
            <label>Task Desc</label>
            <input type="text" name="taskdesc"/>
            <div class="form-group">
                <label>Count</label>
                <input type="text" name="count"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>